{% extends 'core/home/base.html'%}
{% load static %}
 {% block content %} 
  <div class="container my-5">
    
    <div class="row my-4">
      <div class="card ">
        <div class="card-header text-center">
          Publication
        </div>
        <div class="card-body">
          {% for obj,day in mylist %}
            <div class="d-flex w-100 justify-content-between">
            <h6 class="card-title" style="letter-spacing: 1px;"><strong><a href="{{obj.file.url}}">{{obj.title}}</a></strong> </h6>
            
            </div>
            <div class="d-flex w-100 justify-content-between">
              <p class="card-text" style="letter-spacing: 1px;"><span class=" fw-bold text-bold  fs-7">{{obj.description}}</span><span class="text-success fw-bold fs-7"> ~{{obj.user.full_name}}</span><span class="text-muted"> (Author)</span></p>
              <small>{{obj.rating}}/5 | {{day}} days ago  </small>
            </div>
            <hr>
          {% endfor %}
        </div>
        
        {%if messages %}
            {% for message in messages %}
              <div class="alert alert-danger" role='alert'>
                      {{message}}
              </div>
            {% endfor %}
          {% endif %}
    </div> 
        
        
    </div>
  </div>

  

  <div style="height:15vh;">
  </div>

 {% endblock%}