{% extends 'core/base.html' %}
{% load static %}
{% block content %}


<h2 class="m-4">Welcome To {{request.user.full_name|title}}</h2>
<div class="container">
    <div class="row my-4">
        <div class="card">
          <div class="card-header">
            Author
          </div>
          <div class="card-body">
            <table class="table  table-borderless">
              <thead class="table-dark">
                <tr class="text-center">
                  <th scope="col">Name</th>
                  <th scope="col">Join Date</th>
                  <th scope="col">Paper Upload(Total)</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <th scope="row">{{request.user.full_name|title}}</th>
                  <td>{{request.user.created_on|date:"d M Y"}}</td>
                  <td>{{obj1.total_paper}}</td>
                </tr>
                </tbody>
            </table>

           
          </div>
        </div>
    </div>
    <div class="row my-4">
       
        <div class="card ">
          <div class="card-header d-flex">
            <span>Paper Details</span>
            <div class="ml-auto">
              
             
              
              <!-- <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span> -->
            </div>
            
          </div>

          <div class="card-body ">
            <table class="table table-responsive-sm table-borderless">
              <thead class="table-dark">
                <tr class="text-center" >
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">Title</th>
                  <th scope="col">Upload Date</th>
                  <th scope="col">Review Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Action</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for obj in obj %}
                <tr>
                  <!-- <th scope="row">{{obj.id}}</th> -->
                  <td class="text-dark"><strong>{{obj.title|title}}</strong></td>
                  <td class="text-center text-muted">{{obj.created_on | date:"d M Y"}}</td>
                  <td class="text-center text-muted">{{obj.review_date | date:"d M Y"}}</td>
                  <td class="text-center text-muted">{{obj.status}}</td>
                  <td class="text-center" id="rating1">
                      <div><span class="fa fa-star {% if obj.rating >= 1 %} checked {% endif %}"></span>
                      <span class="fa fa-star {% if obj.rating >= 2 %} checked {% endif %}"></span>
                      <span class="fa fa-star {% if obj.rating >= 3 %} checked {% endif %}"></span>
                      <span class="fa fa-star {% if obj.rating >= 4 %} checked {% endif %}"></span>
                      <span class="fa fa-star {% if obj.rating >= 5 %} checked {% endif %}"></span>

                    </div>
                  </td>
                  <td>
                    <a href="{{obj.file.url}}" class="btn btn-primary mx-1">
                     <img src="{% static 'image/download1.png' %} " width="20px" height="20px;" >
                    </a>
                     {% if obj.status == "Submitted" %}
                      <a href="{% url 'delete_paper_view' obj.id %}" class="btn btn-danger">    
                            <img src="{% static 'image/delete.png' %} " width="20px" height="20px;" >
                          </a>
                          {% endif %}
                  </td>
                  
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {%if messages %}
            {% for message in messages %}
        <div class="alert alert-danger" role='alert'>
                {{message}}
        </div>
            {% endfor %}
        {% endif %}
            
          </div>
        </div>
        
    </div>
</div>
<div style="height:10vh;">
    </div>
<!-- <script>
  var a=document.getElementById('rating1').innerHTML;
  console.log(a);

</script> -->

{% endblock %}

