{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row my-4">
       
        <div class="card">
          <div class="card-header">
            Paper Details
          </div>

          <div class="card-body ">
            <table class="table table-responsive-sm table-borderless">
              <thead class="table-dark">
                <tr class="text-center">
                  <!-- <th scope="col">id</th> -->
                  <th scope="col">Title</th>
                  <th scope="col">Status</th>
                  <th scope="col">Remark</th>
                  <th scope="col">View_file</th>
                  <th scope="col">Upload</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in obj %}
                <form method="post" action="{% url 'ReUpload_view' obj.id %}" enctype="multipart/form-data">
                	{% csrf_token %}
                <tr class="text-center">
                  <!-- <th scope="row">{{obj.id}}</th> -->
                  <td>{{obj.title|title}}</td>
                  <td>{{obj.status}}</td>
                  <td>{{obj.remarks|title}}</td>
                  <td><a href="{{obj.file.url}}" class="btn btn-primary ">
                     <img src="{% static 'image/download1.png' %} " width="20px" height="20px;" >
                    </a></td>
                  <td>
                  	<input type="hidden" name="title" value="{{obj.title}}">
                  	<input type="file" id="inputFile" name="file" class="form-control col-8 col-sm-12" required></td>
                  <td class="text-center"><input type="submit" class="btn btn-outline-success"></td>
                </tr>
                </form>
                {% endfor %}
                </tbody>
            </table>
            
         
              </form>
            {%if messages %}
            {% for message in messages %}
        <div class="alert alert-danger" role='alert'>
                {{message}}
        </div>
            {% endfor %}
        {% endif %}
        
            
          </div>
        </div>
        
    </div>
</div>
<div style="height:38vh;">
    </div>


{% endblock %}
