{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row my-4">
       
        <div class="card">
          <div class="card-header">
            Paper Details
          </div>

          <div class="card-body ">
            <table class="table table-responsive-sm table-borderless">
              <thead class="table-dark">
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">title</th>
                  <th scope="col">Status</th>
                  <th scope="col">Remark</th>
                  <th scope="col">View_file</th>
                  <th scope="col">Edit</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in obj %}
                <form method="post" action="{% url 'ReUpload_view' obj.id %}" enctype="multipart/form-data">
                	{% csrf_token %}
                <tr>
                  <th scope="row">{{obj.id}}</th>
                  <td>{{obj.title}}</td>
                  <td>{{obj.status}}</td>
                  <td>{{obj.remarks}}</td>
                  <td><a href="{{obj.file.url}}"   class="btn btn-info">View</a></td>
                  <td>
                  	<input type="hidden" name="title" value="{{obj.title}}">
                  	<input type="file" id="inputFile" name="file" class="form-control col-8" ></td>
                  <td class="text-center"><input type="submit" class="btn btn-outline-success"></td>
                </tr>
                </form>
                {% endfor %}
                </tbody>
            </table>
            
          <!--   <div class="row my-2 alert alert-secondary ">
                    <label for="inputType" class="col-12 col-sm-2 col-form-label">Upload-File :</label>
                    
                    <div class="col-12 col-sm-10   d-flex">
                    	<input type="file" id="inputFile" name="file" class="form-control col-8 {% if form.file.errors %}is-invalid{% endif %}" >
                    	<input type="text" name="title" value="{{obj.title}}">
                    	<div class=" ml-3 " >
                    		<input type="submit" class="btn btn-outline-success mx-auto "  >
                    	</div>
                    </div>
                    
                  </div> -->
              </form>
            {%if messages %}
            {% for message in messages %}
        <div class="alert alert-danger" role='alert'>
                {{message}}
        </div>
            {% endfor %}
        {% endif %}
        <!-- <div class="card-footer">
              <a class="btn btn-outline-primary" href="{% url 'view_all_view' %}">View All Paper</a>
            </div> -->
            
          </div>
        </div>
        
    </div>
</div>
<div style="height:38vh;">
    </div>


{% endblock %}
