{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 "  >
      
        <div class="row d-flex">
        
            <h2 >Upload Paper</h2>
            <hr>
            {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif%}
            <form  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="mb-3 col-12 col-sm-10 my-2 mx-auto">
                      <label for="inputType">Title</label>
                      <input type="text" id="inputType" name="title" class="form-control {% if form.title.errors %}is-invalid{% endif %} " >
                      <div class="invalid-feedback">
                                       {{ form.title.errors}}
                                    </div>

                </div>
                <div class="mb-3 col-12  col-sm-10 my-2 mx-auto">
                      <label for="inputType">Description</label>
                      <!-- {{ form.description }} -->
                      <select id="name" class="form-control text-center" name="description" >
                              <option selected>--Select--</option>
                              
                              <option>Computing</option>
                              <option>Languages and Linguistics</option>
                              <option>Engineering</option>
                              <option>Technology</option>
                              <option>Health Sciences</option>
                              <option>Education Science</option>
                              <option>Other</option>
                              
                     </select>
                      
                      <div class="invalid-feedback">
                                       {{ form.description.errors}}
                                    </div>

                </div>
              
                
                <div class="mb-3 col-12 col-sm-10 my-5 mx-auto">
                      <label for="inputFile">File</label>
                      <input type="file" id="inputFile" name="file" class="form-control {% if form.file.errors %}is-invalid{% endif %}" >
                      <div class="invalid-feedback">
                                       {{ form.file.errors}}
                                    </div>

                </div>
                 
                <div class="mb-3 col-12  col-sm-10 py-3 mx-auto ">
                    <button type="submit" class="btn btn-outline-success ">Submit</button>
                </div>
            </form>
            </div>
        </div>


<div style="height:10vh;">
    </div>

{% endblock %}